.env
# all the images
*.jpg
*.pdf
*.xml
*.png
*.csv
# all the pycache
__pycache__/

# dcl directory
dcl/

# OCRmodel directory
OCRmodel/

# package directory
package/

# data directory
data/

# main.spec
main.spec

# dcl directory
dcl/