.env
# all the images
*.jpg
*.pdf
*.xml
*.png
*.csv
# all the pycache
__pycache__/

# dcl directory
dcl/

# OCRmodel directory
OCRmodel/

# .EasyOCR directory
.EasyOCR/

# poppler directory
poppler-24.02.0/

# package directory
package/

# data directory
data/

# main.spec
main.spec

# dist directory
dist/

# build directory
build/

# .spec
*.spec

EXTRACTDIAPHRAGMWALL_0911.lsp